.main-section {
    background-color: #40739e;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #2c3e50;
}

.main-section .main-title.-second {
    margin-bottom: 30px;
}
/*Criando variação da section com pseudo-classe: */
.main-section.-bgBlack {
    background-color: #000;
}
/*Criando variação da borda com pseudo-classe: */
.main-section.-bdFirst {
    border-color: #40739e;
}