.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40739e;
    border-bottom: 10px solid #2c3e50;
    padding: 10px 20px 10px 20px;
}

.main-header-cl {
    font-family: 'Press Start 2P', system-ui, sans-serif;
    color: #fff;
    font-size: 15px;
    /*Eixo X, Eixo Y, Sombreamento e cor do sombreamento.*/
    text-shadow: 5px 5px 0px #000;
}
